<% layout('/layouts/boilerplate.ejs') %>
<!-- How to Use Information Section -->
<section class="container" id="howtouse-section">
    <section class="row mt-5">
        <section class="col-md-5 mt-5">
            <h2 class="animate__animated animate__bounceInLeft">HOW TO USE</h2>
            <ul class="animate__animated animate__bounceInRight">
                <li><b>Introductory Audio:</b> Introductory audio plays, explaining the system and features.</li>
                <li><b>Select an Option:</b> Choose an option by speaking or using the interface.</li>
                <li><b>Content Read Aloud:</b> Page content is read aloud for your convenience.</li>
                <li><b>Website Redirection:</b> You’re redirected to the selected website for interaction.</li>
                <li><b>Voice Command to Stop:</b> Say "Stop" to halt audio and interaction.</li>
                <li><b>Double Click to Restart:</b> Double-click the screen to restart the system.</li>
                <li><b>Wait for Audio Completion:</b> Speak commands only after the audio finishes playing.</li>
            </ul>
        </section>
        <section class="offset-md-2 col-md-5">
            <img src="/assests/img3.jpg" alt="howtouseQuotation" class="img-fluid">
        </section>
    </section>
</section>