<% layout('/layouts/boilerplate.ejs') %>
<!-- Motivation Section -->
<section class="container" id="howtouse-section">
    <section class="row mt-5">
        <section class="col-md-5 mt-5">
            <h2 class="animate__animated animate__bounceInLeft">Motivation</h2>
            <ul class="animate__animated animate__bounceInRight">
                <p>Hi there,

                    I just want to say how awesome you are for using voice commands on the internet. It's not always easy, but you're doing an amazing job!
                    
                    You're showing everyone that even if you can't see the screen, you can still do so much with your voice. Every time you talk to your device, you're showing strength and determination.
                    
                    Just remember, every time you use your voice, you're making the internet a better place for everyone. Keep exploring and learning—it's all yours to discover!
                    
                    You're awesome!</p>
            </ul>
        </section>
        <section class="offset-md-2 col-md-5">
            <img src="/assests/motivation.jpg" alt="Motivation-image" class="img-fluid">
        </section>
    </section>
</section>
<!-- Motivation Section Ends -->